.container-fluid {
    height: 300vh;
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#formulario {
    background-color: rgba(94, 93, 93, 0.524);
    border: 1px double black;
    border-radius: 5px;
    width: 20%;
}
.elegir {
    color: brown;
}
.llenarDatos {
    display: flex !important;
    flex-direction: column;
}